<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <form action="/current_gpa" method="GET">

        <h1>Current GPA Calculation</h1>
        <p>Your current GPA is calculated from your stored completed grades.</p> 
        

    </div>


</main>
  


<%- include ('../partials/footer') %>