<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>

<main>
    <div class="container">
        <form action="/current_gpa" method="GET">

        <h1>Current GPA Calculation</h1>
        <p>Your current GPA is calculated from your stored completed grades.</p> 
        <div class="form-group col-md-4">
            <label for="inputState">Letter Grade</label>
            <select id="inputState" class="form-control">
              <option selected>A</option>
              <option>A-</option>
              <option>B+</option>
              <option>B</option>
              <option>B-</option>
              <option>C+</option>
              <option>C</option>
              <option>C-</option>
              <option>D+</option>
              <option>D</option>
              <option>D-</option>
              <option>F</option>



            </select>
          </div>

    </div>


</main>
  


<%- include ('../partials/footer') %>