<%- include ('../partials/header') %>
<%- include ('../partials/menu_stripped') %>

<main>

    <div class="container">
        <br>
        <h1>Welcome to the Exploding Unit GPA Calculator!</h1>
        <br>
        <h3>What is this?</h3>
        <p>This is a GPA calculator that allows you to calculate your GPA for all your classes. Your info can be saved in your account so that when you come back, all your classes and grades are saved and you won't have to re-enter them.</p>
        <br>
        <h3>How do I use it?</h3>
        <p>First, you need to register an account. Then, you can log in and start adding classes. You can add as many classes as you want, and if a class is not in the list, you can add a custom one yourself. Once you have added all your classes, you can enter your grades for each class and calculate your GPA. You can also print out your GPA and classes/grades at any time.</p>
        <br>
        <h3>Ready to get started?</h3>
        <a href="/register" class="btn btn-primary">Register</a>
        <a href="/login" class="btn btn-primary">Login</a>
    </div>

</main>

<%- include ('../partials/footer') %>